
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d2e923;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    
}

header {
    background: #333;
    color: #4114cb;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ccadad 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header h1 {
    float: left;
    display: inline;
    font-size: 24px;
    line-height: 70px;
    padding-left: 20px;
}

nav ul {
    
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e8491d;
}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.menu-item {
    border-bottom: #ccc 1px solid;
    padding: 10px 0;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
